            /*Strat page Header */
            
            .header-path h2 {
                padding-top: 150px;
                color: #ee6123;
                padding-bottom: 50px;
            }
            
            .pageheader P {
                font-size: 20px;
                padding-top: 20px;
            }
            
            h3 {
                padding-top: 30px;
                padding-bottom: 20px;
                color: #1389b2;
            }
            
            .video-section {
                height: auto;
                padding-top: 100px;
            }
            
            .pageheader li {
                font-size: 20px;
            }
            
            .linehr hr {
                width: 150px;
                background-color: #1389b2;
                height: 2px;
                float: right;
                margin-top: -10px;
                margin-bottom: 5px;
            }
            
            .linehr {
                margin-bottom: 40px;
            }
            /*End  page Header*/
            /*Start   Introduction Section */
            
            .Introduction {
                padding-bottom: 150px;
            }
            
            .card-intro {
                /*background: white;
                */
                border-radius: 5px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                cursor: pointer;
                height: 70px;
                margin-top: 20px;
                padding: 8 20px 30px 20px;
                position: relative;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
                /*text-align: center;
                */
                transition-property: hight;
                transition-duration: 300s;
                /*transition-timing-function: linear;
                */
                transition-delay: 200s;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            
            .card-intro .title {
                /* text-align: right; */
                /* padding-bottom: 40px; */
                /* padding-top: 10px; */
            }
            
            .card-intro.expanded {
                height: auto;
            }
            
            .card-intro .text-content {
                transform: translateY(-5000px);
                transition: transform 3ms;
                -webkit-transform: translateY(-5000px);
                -moz-transform: translateY(-5000px);
                -ms-transform: translateY(-5000px);
                -o-transform: translateY(-5000px);
                -webkit-transition: ;
                -moz-transition: ;
                -ms-transition: ;
                -o-transition: ;
            }
            
            .card-intro.expanded .text-content {
                transform: translateY(-15px);
                -webkit-transform: translateY(-15px);
                -moz-transform: translateY(-15px);
                -ms-transform: translateY(-15px);
                -o-transform: translateY(-15px);
            }
            
            .card-intro .chevron {
                width: 20px;
                position: absolute;
                bottom: 20px;
                left: calc(9% - 15px);
                transform-origin: 50%;
                transform: rotate(180deg);
                transition: transform .3ms;
                -webkit-transition: ;
                -moz-transition: ;
                -ms-transition: ;
                -o-transition: ;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
            }
            
            .card-intro.expanded .chevron {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
            }
            
            .card-intro .title {}
            /*End   Introduction Section */
            /*Start Section */
            
            .section1 {
                background-color: #fff;
                padding-top: 100px;
                padding-bottom: 100px;
            }
            /*End Section */
            /*Start Platforms */
            
            .Platforms {
                padding-top: 15px;
            }
            
            .Platforms h4 {
                color: #1389b2;
            }
            
            .owl-prev:hover,
            .owl-next:hover {
                background-color: #1389b2;
            }
            
            .owl-prev,
            .owl-next {
                background-color: #1389b2;
            }
            
            .owl-carousel .owl-item img {
                display: block;
                height: 120px;
                width: auto;
            }
            
            .rounded-images-carousel img {
                border: none;
                border-radius: 50%;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            /*End Platforms */
            /* Start Develop myself*/
            
            .Develop-myself img {
                padding-top: 90px;
            }
            /* End Develop myself*/
            /*End Influential people*/
            
            .Influentialpeople {
                padding-top: 100px;
            }
            
            .Influentialpeople h4 {
                color: #1389b2;
                padding-bottom: 15px;
            }
            
            .Influential-people {
                padding: 30px 0 40px;
                margin-bottom: 30px;
                /* background-color: #f7f5ec; */
                text-align: center;
                overflow: hidden;
                position: relative;
            }
            
            .Influential-people .picture {
                display: inline-block;
                height: 130px;
                width: 130px;
                margin-bottom: 50px;
                z-index: 1;
                position: relative;
            }
            
            .Influential-people:hover .picture::before {
                height: 100%;
            }
            
            .Influential-people .picture::after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            
            .Influential-people .picture img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transform: scale(1);
                transition: all 0.9s ease 0s;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                -webkit-transition: all 0.9s ease 0s;
                -moz-transition: all 0.9s ease 0s;
                -ms-transition: all 0.9s ease 0s;
                -o-transition: all 0.9s ease 0s;
            }
            
            .Influential-people:hover .picture img {
                box-shadow: 0 0 0 14px #f7f5ec;
                transform: scale(0.7);
                -webkit-transform: scale(0.7);
                -moz-transform: scale(0.7);
                -ms-transform: scale(0.7);
                -o-transform: scale(0.7);
            }
            
            .Influential-people .title {
                display: block;
                font-size: 15px;
                color: #4e5052;
                text-transform: capitalize;
            }
            
            .Influential-people .social {
                width: 100%;
                padding: 0;
                margin: 0;
                background-color: #1389b2;
                position: absolute;
                bottom: -100px;
                left: 0;
                transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
                -moz-transition: all 0.5s ease 0s;
                -ms-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
            }
            
            .Influential-people:hover .social {
                bottom: 0;
            }
            
            .Influential-people .social li {
                display: inline-block;
            }
            
            .Influential-people .social li a {
                display: block;
                padding: 10px;
                font-size: 17px;
                color: white;
                transition: all 0.3s ease 0s;
                text-decoration: none;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
            }
            
            .Influential-people .social li a:hover {
                color: #fdd068;
                background-color: #f7f5ec;
            }
            
            .Influential-people .name {
                color: black;
            }
            /*End Influential people*/
            /*Start Book */
            
            .books {
                padding: 30px 0 40px;
                margin-bottom: 30px;
                /* background-color: #f7f5ec; */
                text-align: center;
                overflow: hidden;
                position: relative;
            }
            
            .Book-header h4 {
                margin-top: 16px;
                display: block;
                font-size: 22px;
            }
            
            .books .picture {
                display: inline-block;
                height: 120px;
                width: 100%;
                margin-bottom: 70px;
                z-index: 1;
                position: relative;
            }
            
            .books .picture img {
                height: 180;
                width: 180;
                border-radius: 0%;
                transform: scale(1);
                transition: all 0.9s ease 0s;
                -webkit-transition: all 0.9s ease 0s;
                -moz-transition: all 0.9s ease 0s;
                -ms-transition: all 0.9s ease 0s;
                -o-transition: all 0.9s ease 0s;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
            
            .rounded-images-carousel .owl-stage-outer {
                padding: 0;
            }
            
            .rounded-images-carousel .owl-prev {
                left: 0px;
            }
            
            .rounded-images-carousel .owl-next {
                right: 0px;
            }
            /*End Book*/
            /*Start Section2 */
            
            .section2 {
                padding-top: 100px;
                padding-bottom: 100px;
            }
            
            .point1 {
                /*border: 1px solid #ccc;
                */
                border-radius: 5px;
                padding: 30px;
                height: auto;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            
            .point2 {
                /*border: 1px solid #ccc;
                */
                border-radius: 5px;
                padding: 30px;
                height: auto;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            
            .point1 i {
                margin-left: 15px;
                color: #1389b2;
            }
            /*Ens Section2 */
            /*  Start Terms*/
            
            .card {
                background: white;
                border-radius: 8px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                cursor: pointer;
                height: 280px;
                margin-top: 20px;
                padding: 0 20px;
                position: relative;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
                text-align: center;
                width: auto;
                transition: transform 300s;
                -webkit-transition: transform 300s;
                -moz-transition: transform 300s;
                -ms-transition: transform 300s;
                -o-transition: transform 300s;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            
            .card.expanded {
                height: auto;
            }
            
            .card img {
                height: 120px;
                width: auto;
                padding-top: 30px;
            }
            
            .pro img {
                margin-bottom: 1;
            }
            
            .text-content {
                transform: translateY(-20000px);
                transition: transform 1ms;
                -webkit-transform: translateY(-20000px);
                -moz-transform: translateY(-20000px);
                -ms-transform: translateY(-20000px);
                -o-transform: translateY(-20000px);
                -webkit-transition: transform 1ms;
                -moz-transition: transform 1ms;
                -ms-transition: transform 1ms;
                -o-transition: transform 1ms;
            }
            
            .card.expanded .text-content {
                transform: translateY(-15px);
                -webkit-transform: translateY(-15px);
                -moz-transform: translateY(-15px);
                -ms-transform: translateY(-15px);
                -o-transform: translateY(-15px);
            }
            
            .title1 {
                font-size: 18px;
            }
            
            .title {
                padding-top: 20px;
            }
            
            .chevron {
                position: absolute;
                bottom: 20px;
                left: calc(50% - 15px);
                transform-origin: 50%;
                transform: rotate(180deg);
                transition: transform .3ms;
                -webkit-transition: transform .3ms;
                -moz-transition: transform .3ms;
                -ms-transition: transform .3ms;
                -o-transition: transform .3ms;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
            }
            
            .card.expanded .chevron {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
            }
            
            .body-text {
                padding-top: 25px;
                padding-bottom: 30px;
            }
            /*  End Terms*/
            
            .lef-test {
                background-color: #e1e1e1;
                width: auto;
                height: 300px;
                text-align: center;
                border-radius: 5px;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            
            .lef-test h3 {
                font-size: 18px;
            }
            
            .white-test h3 {
                font-size: 18px;
            }
            
            .white-test {
                background-color: #fff;
                width: auto;
                height: 300px;
                text-align: center;
                border-radius: 5px;
                -webkit-border-radius: ;
                -moz-border-radius: ;
                -ms-border-radius: ;
                -o-border-radius: ;
            }
            
            .career1 {
                height: 520;
                width: 1000;
            }